<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
    <title>My christmas #2018</title>
  </head>
  <body class="pink lighten-5">
    <nav>
      <div class="nav-wrapper  pink darken-1">
        <a href="#" id="title" class="brand-logo center">Mina, Aurélie & Florent</a>
      </div>
    </nav>
    <div class="row" id="demo">
      <div class="col s12">
        <ul class="collapsible popout" data-collapsible="accordion">
          <li>
            <div class="collapsible-header pink darken-1">Mina</div>
            <div class="collapsible-body">
              <ul>
                <li v-for="task in tasks" class="collection-item task" :key="task['.key']" v-if="task.list === 'mina'">
                  <a v-bind:href="task.url" target="_blank" v-bind:class="{ over : task.isBooked }" class="link_color">{{ task.text}}</a>
                  <p class="btnalign">
                    <input type="checkbox" @click="book(task)" :id="task.text" v-model="task.isBooked" />
                    <label :for="task.text"></label>
                  </p>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="collapsible-header pink darken-1">Aurélie</div>
            <div class="collapsible-body">
              <ul>
                <li v-for="task in tasks" class="collection-item task" :key="task['.key']" v-if="task.list === 'aurelie'">
                  <a v-bind:href="task.url" target="_blank" v-bind:class="{ over : task.isBooked }" class="link_color">{{ task.text}}</a>
                  <p class="btnalign">
                    <input type="checkbox" @click="book(task)" :id="task.text" v-model="task.isBooked"/>
                    <label :for="task.text"></label>
                  </p>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="collapsible-header pink darken-1">Florent</div>
            <div class="collapsible-body">
              <ul>
                <li v-for="task in tasks" class="collection-item task" :key="task['.key']" v-if="task.list === 'florent'">
                  <a v-bind:href="task.url" target="_blank" v-bind:class="{ over : task.isBooked }" class="link_color">{{ task.text}}</a>
                  <p class="btnalign">
                    <input type="checkbox" @click="book(task)" :id="task.text" v-model="task.isBooked" />
                    <label :for="task.text"></label>
                  </p>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>

      <!--<div class="fixed-action-btn">
        <a class="btn-floating btn-large teal darken-1" href="#modal1">
          <i class="large material-icons">add</i>
        </a>
      </div>-->

      <div id="modal1" class="modal">
        <div class="modal-content">
          <h4>Ajoute un cadeau</h4>
          <form id="add" v-on:submit.prevent="addTask">
            <p>
              <input name="addTask" type="radio" id="test1" value="mina" v-model="newTask.list"/>
              <label for="test1">Mina</label>
            </p>
            <p>
              <input name="addTask" type="radio" id="test2" value="aurelie" v-model="newTask.list"/>
              <label for="test2">Aurelie</label>
            </p>
            <p>
              <input name="addTask" type="radio" id="test3" value="florent" v-model="newTask.list"/>
              <label for="test3">Florent</label>
            </p>
            <input type="text" name="addTask" v-model="newTask.text" placeholder="Nom du cadeau">
            <input type="text" name="addTask" v-model="newTask.url" placeholder="URL du cadeau">
            <button class="btn waves-effect waves-light" type="submit" name="action">Ajouter
              <i class="material-icons right">send</i>
            </button>
          </form>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      $(document).ready(function(){
        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
      });
    </script>

    <script>
    // Replace abc with your Firebase domain (ex. vuejs-c86csa4)
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyDiEi93EVvH7YR5g23PNNI_Cmr5ePsZQZI",
      authDomain: "giftlist-1a12c.firebaseapp.com",
      databaseURL: "https://giftlist-1a12c.firebaseio.com",
      projectId: "giftlist-1a12c",
      storageBucket: "giftlist-1a12c.appspot.com",
      messagingSenderId: "693813568430"
    };
    firebase.initializeApp(config);
    var tasksRef = firebase.database().ref('tasks');
    var app = new Vue({
      el: '#demo',
      data: {
        windowWidth: 0,
        windowHeight: 0,
        newTask: {
          text: '',
          url: '',
          list: '',
          isBooked: false
        },
        activeButton: 'waves-effect waves-light btn btnalign',
        disabledButton: 'disabled',
        checked: 'checked'
      },
      firebase: {
        tasks: tasksRef
      },
      filters : {
        cut: function (value) {
          if (this.windowWidth < 680) {
            if (value.length > 30 ) {
              return value.substr(0, 29) + '...';
            } else {
              return value;
            }
          } else {
            return value;
          }
          
        }
      },
      computed: {
        validation: function () {
          return {
            text: !!this.newTask.text.trim(),
            list: !!this.newTask.list.trim()
          }
        },
        isValid: function () {
          var validation = this.validation
          return Object.keys(validation).every(function (key) {
            return validation[key]
          })
        }
      },
      mounted: function () { 
        this.$nextTick(function() { 
          window.addEventListener('resize', this.getWindowWidth);
          window.addEventListener('resize',this.getWindowHeight);
          this.getWindowWidth();
          this.getWindowHeight();
        })
      },
      beforeDestroy: function() {
        window.removeEventListener('resize', this.getWindowWidth);
        window.removeEventListener('resize', this.getWindowHeight);
      },
      methods: {
        addTask: function () {
          if (this.isValid) {
            this.newTask.isBooked = false;
            tasksRef.push(this.newTask);
            this.newTask.text = '';
            this.newTask.url = '';
            this.newTask.list = '';
            this.newTask.isBooked = false;
          }
        },
        book: function (task) {
          if (task.isBooked) {
            tasksRef.child(task['.key']).update({isBooked: false});
          } else {
            tasksRef.child(task['.key']).update({isBooked: true});            
          }
        },
        getWindowWidth: function (event) {
          this.windowWidth = document.documentElement.clientWidth;
        },
        getWindowHeight: function (event) {
          this.windowHeight = document.documentElement.clientHeight;
        }
      }
    });
    </script>

  </body>
</html>
