@font-face {
    font-family: merry;
    src: url(merry.ttf);
}

@font-face {
    font-family: snow;
    src: url(snow.ttf);
}

@font-face {
    font-family: always;
    src: url(always.ttf);
}

html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
  }

.collapsible-header {
  padding: 30px 0 30px 0;
  color: white;
  font-family: merry, GillSans, Calibri;
  text-align: center;
  font-size: 4em;
}

.collection-item {
  background-color: #FAF7F5;
}

.btn {
  font-size: 1em;
}

#title {
  font-family: merry, GillSans, Calibri;
  font-size: 3em;
}

.link_color {
  font-family: always;
  color: #ad1457;
  font-size: 2em;
}

<<<<<<< HEAD
.btnalign {
  position: relative;
  float: right;
  margin-right: 1%;
}
=======
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(font_google.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
>>>>>>> 4278a5c29f522d96b098aa0885c262313088d225
