@font-face {
    font-family: merry;
    src: url(merry.ttf);
}

@font-face {
    font-family: snow;
    src: url(snow.ttf);
}

@font-face {
    font-family: always;
    src: url(always.ttf);
}

html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
  }

.collapsible-header {
  padding: 30px 0 30px 0;
  color: white;
  font-family: merry, GillSans, Calibri;
  text-align: center;
  font-size: 4em;
}

.collection-item {
  background-color: #FAF7F5;
}

.btn {
  font-size: 1em;
}

#title {
  font-family: merry, GillSans, Calibri;
  font-size: 3em;
}

.link_color {
  font-family: always;
  color: #ad1457;
  font-size: 2em;
}
